*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container{
    /*width: 100%;
    height: 100vh;*/
    background-image: url(background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box{
    width: 90%;
    max-width: 450px;
    background-color: #fff;
    text-align: center;
    padding: 50px 60px 70px;
    border-radius: 15px;
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: rgb(51, 51, 155);
    position: relative;
    text-decoration: underline;
}

.Forget{
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    padding: 18px 15px;
    border: 0;
    border-radius: 7px;
    outline: 0;
}

.input-field i{
    margin-left: 15px;
    color: rgb(137, 137, 129);
}

form p{
    text-align: left;
    font-size: 15px;
}

form p a{
    text-decoration: none;
    font-size: 15px;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn-field button{
    flex-basis: 47%;
    background-color: rgb(62, 62, 190);
    padding: 8px;
    color: #fff;
    border-radius: 12px;
    font-size: 15px;
    height: 40px;
    cursor: pointer;
    border: 0;
    outline: 0;
    transition: background 1s;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #908b8b;
}